*{  
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{   
background-color: #EE6983;
font-family: 'Tiro Devanagari Marathi', serif;
}

.div1{  
    text-align: center;
    font-size: 19px;
   
}

section{
        display: flex;
        min-height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
}

.container{ 
    background-color: #3C4048;
    width: 90%;
    max-width: 400px;
    border-radius: 9px;
    overflow: hidden;
}

.display{   
    background-color: #EAEAEA;
    height: 100px;
    width: 100%;
    padding: 20px;
    font-size: 30px;
    text-align: right;
    position: relative;
}

.display-1{ 
    opacity: .4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}

.temresult{ 
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: .4;
}

.allofthebuttons{   
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4,1fr)/repeat(4,1fr);
}